<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    color: yellow;
    font-family: "courier";
    font-size: 100%;
}
p  {
    color: white;
    font-family:"courier";
    font-size: 100%;

}
*{
	background-color: skyblue;
}

</style>
</head>
<body>
</body>
</html>